<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">MATERIAL BIBLIOGRÁFICO</h1>

        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Existencias
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>TITULO</th>
                            <th>AUTOR</th>
                            <th>STOCK</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of listBook">
                            <td>{{ item.title}}</td>
                            <td>{{ item.author}}</td>
                            <td>{{ item.stock}}</td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <button (click)="updateBook(item.id || 0)"
                                        type="button"
                                        class="btn btn-info btn-sm">VER</button>
                                    <button type="button"
                                        routerLink="/edit/{{item.id}}"
                                        class="btn btn-warning btn-sm ms-2">EDITAR</button>
                                    <button (click)="deleteBook(item.id!)"
                                        type="button"
                                        class="btn btn-primary btn-sm ms-2">ELIMINAR</button>
                                    <span class="badge bg-success ms-2 align-self-center">ESTADO</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
